.weather-day {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gutter-s;
  text-align: left;

  &-name {
    width: 100px;
  }

  &-icon {
    width: 40px;
    height: 40px;
    fill: $yellow;
  }

  &-temperature {
    > .ui-text--body {
      display: inline-block;
      width: 20px;

      &:last-child {
        margin-left: $gutter;
        color: $gray-light;
      }
    }
  }
}
