.music-player {
  @include stretch-column-nowrap;
  align-items: center;
  padding: $gutter-l $gutter;

  &-track {
    &-cover,
    &-info {
      margin-bottom: $gutter-m;
    }

    &-cover {
      @include flex-center;
      width: 350px;
      height: 350px;
      border-radius: $border-radius-m;
      background-color: $gray-dark;
      color: $gray-medium;
    }

    &-info {
      width: 100%;
    }

    &-name,
    &-artist {
      font-size: $font-size-l;
    }

    &-artist {
      margin-top: $gutter-xs;
      color: $pink;
    }

    &-audio {
      margin-top: auto;
    }
  }
}
