.iportfolio-app {
  text-align: center;

  @include responsive($width-medium) {
    height: auto;
    margin-top: 5vh;
  }

  &-view {
    height: 100%;
    padding-top: $gutter-m;
    background-color: $gray-dark;
  }
}
