{
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "parser": "babel",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "printWidth": 100,
        "cursorOffset": -1,
        "singleQuote": false
      }
    }
  ]
}