$size: 65px;

.ui-app-icon {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  flex-shrink: 0;
  margin: 0 0 20px 20px;

  &-button {
    @include type-body($font-size-s);
    width: $size;
    height: $size;
    margin-bottom: 5px;
    padding: 0;
    border-radius: 25%;
    background-color: $white;
    text-align: center;
    overflow: hidden;
  }

  &-label {
    @include type-body;
    width: $size + 3px;
    color: $white;
    font-size: $font-size-xs;
  }

  &-weekday,
  &-day {
    display: block;
  }

  &-weekday {
    margin-top: 2px;
    color: $red;
    font-size: $font-size-xs;
  }

  &-day {
    font-size: $font-size-xl;
    font-weight: $font-weight-light;
    line-height: 1;
  }

  &--clock {
    > .ui-app-icon-button {
      background-color: $black;
    }
  }

  &--stocks {
    > .ui-app-icon-button {
      background-color: $black;
    }
  }

  &--safari {
    > .ui-app-icon-button {
      padding: 2px;
    }
  }
}
