.ui-btn {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid $blue-light;
  }

  > .ui-icon {
    pointer-events: none;
  }

  &--rounded {
    @include type-number($font-size-l);
    width: 90px;
    height: 90px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background: $gray-medium;
  }

  &--with-icon {
    padding: 2px;
  }

  &-label {
    margin-left: 10px;
  }
}
