.ui-btn {
  @include body-type($font-size-s);
  padding: 5px;
  border: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid $blue-light;
  }

  > .icon {
    pointer-events: none;
  }

  &--rounded {
    @include number-type($font-size-l);
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 14px;
    border-radius: 50%;
    background: $gray-medium;
  }

  &-label {
    margin-left: 10px;
  }
}
