.ui-text {
  &--accessible {
    @include accessibly-hidden;
  }

  &--body {
    @include type-body;
  }

  &--display {
    @include type-display;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--bold {
    font-weight: $font-weight-bold;
  }
}
