.weather-summary {
  &-description {
    margin-bottom: $gutter-s;
    padding: $gutter $gutter-s;
    border-top: $border;
    border-bottom: $border;

    > .ui-text--body {
      margin: 0;
      text-align: left;
    }
  }

  &-table {
    &-row {
      display: flex;
      flex-flow: row nowrap;
      text-align: left;
    }

    &-cell {
      flex: 0 1 50%;
      padding: $gutter-s;
    }

    .ui-text--muted {
      margin: 0;
      color: rgba($white, 0.5); // stylelint-disable-line
      font-size: $font-size-s;
      text-transform: uppercase;
    }
  }
}
