.ui-error {
  @include stretch-column;
  justify-content: center;
  background-color: $blue-bright;
  text-align: center;

  &-btn {
    color: $white;
  }

  &-heading {
    margin: $gutter 0;
  }
}
