/* stylelint-disable a11y/no-outline-none */
.camera-app {
  @include stretch-column-nowrap;

  &-top-bar,
  &-bottom-bar {
    @include flex-bar;

    .ui-icon {
      transition: all 0.4s;
      color: $white;
    }
  }

  &-control {
    &--active {
      > .ui-icon {
        color: $orange;
      }
    }
  }

  &-video-container {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    margin-bottom: $gutter;
  }

  &-canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-video {
    display: none;
  }

  &-label {
    @include type-display;
    margin: $gutter;
    text-align: center;
  }

  &-bottom-bar {
    margin: auto 0 0;
  }

  &-image,
  &-image-placeholder {
    width: 70px;
    height: 70px;
    background-color: $gray-dark;
  }

  .ui-btn--rounded {
    @include circle(80px);
    @include inner-circle(60px, $white, $gray-dark);
    margin: 0;
    transition: background-color 0.3s;
    background-color: $white;

    &:hover,
    &:focus {
      background-color: $gray;

      &::after {
        background-color: $gray;
      }
    }

    &:focus {
      outline: 0;
    }

    &[disabled] {
      background-color: $gray-medium;

      &::after {
        background-color: $gray-medium;
      }
    }

    &::after {
      &:hover,
      &:focus {
        background-color: $gray;
      }
    }
  }

  .ui-btn--with-icon[disabled] {
    > .ui-icon {
      color: $gray-medium;
    }
  }
}
