.weather-app {
  @include stretch-column-nowrap;
  padding: 0;

  .ui-text--loading {
    margin-top: auto;
  }

  &-bottom-bar {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    padding: 8px $gutter-m;
    line-height: 0;
    text-align: center;

    .weather-app--detail & {
      justify-content: space-between;
    }

    > .ui-link {
      font-size: $font-size-m;

      &:hover,
      &:focus {
        > .ui-icon-list {
          color: $white;
        }
      }

      > .ui-icon-list {
        transition: color 0.2s;
        color: $gray-medium;
      }
    }

    .ui-icon-dark-sky {
      width: 20px;
      height: 20px;
      transition: fill 0.2s;
      fill: $gray-medium;

      &:hover,
      &:focus {
        fill: $white;
      }
    }

    &-footer {
      width: 100%;
    }
  }
}
