.clock-app,
.stopwatch {
  @include stretch-column;
}

.stopwatch {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: auto;

  &-text {
    @include type-number-display;
    margin: auto 0 50px;
    text-align: center;

    @include responsive($width-medium) {
      margin-bottom: 100px;
    }
  }
}
