/* stylelint-disable declaration-no-important, property-blacklist */

@mixin body-type($font-size: $font-size-default) {
  font-family: $body-type;
  font-size: $font-size;
  font-weight: $font-weight-regular;
}

@mixin display-type {
  font-family: $display-type;
  font-weight: $font-weight-bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@mixin number-type($font-size: $font-size-xxl) {
  color: $white;
  font-family: $body-type;
  font-size: $font-size;
  font-weight: $font-weight-light;
}

@mixin accessibly-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// https://leaverou.github.io/css3patterns/#carbon-fibre
@mixin background-carbon-fibre {
  background: radial-gradient($black 15%, transparent 16%) 0 0,
    radial-gradient($black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: $gray-dark;
  background-size: 16px 16px;
}

@mixin flex-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin responsive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
