/* stylelint-disable declaration-no-important, property-blacklist */

@mixin body-type {
  font-family: $body-type;
  font-size: $font-size-default;
  font-weight: $font-weight-regular;
}

@mixin display-type {
  font-family: $display-type;
  font-weight: $font-weight-bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

@mixin number-type {
  color: $white;
  font-family: $body-type;
  font-size: $font-size-xxl;
  font-weight: $font-weight-light;
}

@mixin accessibly-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
