/* stylelint-disable color-no-hex */
// Colors
$black: #000;
$black-dark: #222;
$blue-light: #0b9eee;
$blue: #0056ff;
$gray-dark: #282828;
$gray-medium: #4d4d4d;
$gray: #a7a7a7;
$green: #74bf82;
$orange: #ffb824;
$purple: #3d228a;
$purple-dark: #2e1a69;
$red: #e94741;
$white: #fff;
$yellow: #cdee23;

// Font families
$body-type: "Work Sans", "Helvetica Neue", "Helvetica", sans-serif;
$display-type: "Montserrat", "Verdana", sans-serif;

// Font sizes
$font-size-xxl: 80px;
$font-size-xl: 40px;
$font-size-l: 22px;
$font-size-m: 18px;
$font-size-default: 16px;
$font-size-s: 13px;
$font-size-xs: 10px;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Offsets
$gutter: 15px;
$gutter-m: $gutter * 2;
$gutter-l: $gutter * 4;

$width-medium: 481px;
