/* stylelint-disable color-no-hex */
// Colors
$black: #222;
$blue-light: #0b9eee;
$blue: #0056ff;
$gray-dark: #282828;
$gray: #a7a7a7;
$green: #74bf82;
$purple: #3d228a;
$purple-dark: #2e1a69;
$white: #fff;
$yellow: #cdee23;

// Font families
$body-type: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
$display-type: "Montserrat", "Verdana", sans-serif;

// Font sizes
$font-size-xxl: 80px;
$font-size-xl: 40px;
$font-size-l: 22px;
$font-size-m: 18px;
$font-size-default: 16px;
$font-size-s: 13px;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Offsets
$gutter-top: 60px;
