.picker-container {
  z-index: 10001;
  width: 100%;

  /* stylelint-disable */
  .picker-inner {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    font-size: 1.2em;
    -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, $white 20%, $white 80%, transparent 95%, transparent);
    mask-image: linear-gradient(to top, transparent, transparent 5%, $white 20%, $white 80%, transparent 95%, transparent);
  }
  /* stylelint-enable */

  .picker-column {
    position: relative;
    flex: 1 1;
    max-height: 100%;
    text-align: center;
    overflow: hidden;

    &-label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.875em;
    }

    .picker-scroller {
      transition: 300ms;
      transition-timing-function: ease-out;
    }

    .picker-item {
      position: relative;
      padding: 0 10px;
      color: $gray-medium;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &--selected {
        color: $white;
      }
    }
  }

  .picker-highlight {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    pointer-events: none;

    &::before,
    &::after {
      display: block;
      position: absolute;
      right: auto;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleY(0.5);
      background-color: $gray-medium;
      content: "";
    }

    &::before {
      top: 0;
      bottom: auto;
    }

    &::after {
      top: auto;
      bottom: 0;
    }
  }
}
