.iportfolio-app-device {
  margin: 2em auto;

  .device-content {
    background-color: $black;
    overflow: hidden;
  }

  .device-header-container {
    position: absolute;
    left: 5%;
    width: 90%;
    margin: 0 auto;
  }

  .device-header-bars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &-block {
      display: flex;
      justify-content: space-between;
      width: 60px;
      margin-top: 10px;

      &--time {
        margin-left: 15px;
      }

      &--icons {
        margin-right: 3px;
      }

      .device-time-label,
      .icon {
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
      }
    }
  }
}
