.iportfolio-app-device {
  margin: 2em auto;

  .device-content {
    background-color: $black-dark;
    overflow: hidden;
  }

  .device-header-container {
    position: absolute;
    left: 5%;
    width: 90%;
    margin: 0 auto;
  }

  .device-header-bars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &-block {
      display: flex;
      justify-content: space-between;
      width: 60px;
      margin-top: 10px;

      &--time {
        justify-content: center;
      }

      &--icons {
        margin-right: 3px;
      }
    }

    .icon {
      color: $white;
      font-size: $font-size-s;
    }
  }

  .device-time-label {
    display: flex;

    > .ui-btn {
      margin-left: 8px;
      padding: 0;
      transform: translateY(-1px);
    }
  }
}
