.iportfolio-homescreen {
  @include background-carbon-fibre;
  @include stretch-column-nowrap;
}

.iportfolio-grid {
  @include grid-icons;
  grid-template-rows: repeat(auto-fill, minmax(85px, 1fr));
  margin-top: $gutter-l;
  padding: 0 20px;
}

.iportfolio-dock {
  @include grid-icons(4);
  width: 350px;
  margin: auto auto 20px;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba($black, 0.75);

  > .ui-app-icon-link {
    margin-bottom: 0;
  }
}
