.calendar-app {
  @include stretch-column-nowrap;

  &-top-bar,
  &-bottom-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 8px $gutter;

    > .ui-btn {
      color: $red;
      font-size: $font-size-m;

      > .ui-btn-label {
        font-size: $font-size-m;
      }
    }
  }

  &-top-bar {
    > .ui-btn {
      max-width: 75px;
    }
  }

  &-bottom-bar {
    justify-content: center;
    margin-top: auto;

    > .ui-btn {
      position: relative;
      top: 5px;
      line-height: 1;
    }
  }

  &-weekdays {
    @include unstyled-list;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4px;

    > li:first-child,
    > li:last-child {
      color: $gray;
    }

    .ui-weekday {
      font-size: $font-size-s;
      text-decoration: none;
    }
  }
}

.ui-years-list {
  @include unstyled-list;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  background-color: $black-darker;
  overflow: auto;

  > li {
    width: 100%;
  }
}
