.ui-tab-navigation {
  width: 100%;
  margin-top: auto;

  &-list {
    display: flex;
    margin: 0;
    padding: 0 $gutter;
    background-color: $black-dark;
    list-style: none;

    &-item {
      width: 100%;
      margin-bottom: $gutter-xs;
    }
  }

  &-link {
    @include no-outline;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: $font-size-xs;

    > .ui-icon {
      color: $gray;
    }

    &-label {
      @include type-body-bold($gray, $font-size-xs);
      margin-top: $gutter-xs;
    }

    &--active {
      > .ui-icon,
      > .ui-tab-navigation-link-label {
        color: $yellow;
      }
    }
  }
}
