.reminders-app {
  @include stretch-column;

  &-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 650px;
  }

  > .ui-text--display {
    @include type-title($orange);
  }

  > .ui-text--body {
    margin: 0;
    color: $gray-medium;
    text-align: center;
  }

  > .ui-btn--with-icon {
    margin: auto $gutter-m $gutter $gutter;
    color: $orange;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    text-align: left;
  }

  > .ui-text--body,
  > .ui-btn--with-icon {
    margin-top: auto;
  }
}
