.ui-link {
  color: $white;
  text-decoration: none;

  &--back {
    @include focus-outline;
    margin-right: auto;
    color: $yellow;
  }

  > .ui-icon {
    pointer-events: none;
    cursor: pointer;
  }
}
